/*GLOBAL STYLE*/

body {
    background-color: darkslategray;
}

h3 {
    color: darkred;
    width: 100px
}


/*HEADER*/

header {
    position: relative;
    border: 2px solid transparent;
    border-bottom-color: #2e7c46;
    left: 23%;
    width: 100px;
    height: 120px;
    color: darkgoldenrod;
    width: 940px;
}


/*header paragraph*/

header p {
    position: relative;
    text-align: center;
    font-size: 2.5em;
    font-family: Amaranth, sans-serif;
    color: #be3a09;
}


/*NAVIGATION STYLE*/

.nav-container {
    position: fixed;
    color: white;
    left: 76%;
    top: 41px;
    font-size: 1.8em;
    width: 350px;
    height: auto;
    display: flex;
    letter-spacing: 1.0px;
    z-index: 11;
}


/*ITEMS CLASS STYLE*/

.item-1 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: lightcoral;
    width: 94px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.item-2 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: purple;
    width: 94px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.item-3 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: lightgreen;
    width: 112px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}


/*NAV LINK STYLE*/

a {
    color: lightblue;
    opacity: .8;
    text-decoration: none;
}


/*MAIN SECTION*/

section {
    position: relative;
    border-radius: 10px;
    color: whitesmoke;
    width: 1000px;
    height: auto;
    top: 24px;
    left: 20%;
    padding: 15px;
    opacity: .6;
}

ul {
    width: 1049px;
    height: auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: inline-block;
    border-radius: 5px;
}

li h1 {
    font-size: 1em;
    font-family: Amaranth, fantasy;
    color: #a8b1d4;
    text-align: center;
}

img {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 10px;
}

figcaption {
    text-align: center;
}


/*BIG FOOTER STYLE*/

.big-footer {
    position: relative;
    top: 48px;
    text-align: center;
    width: 98.8%;
    padding: 10px;
    border-radius: 5px;
    background-color: #0f0303;
    color: whitesmoke;
    opacity: .8;
}


/*BIGG FOOTER H3 STYLE*/

.big-footer h3 {
    position: relative;
    color: whitesmoke;
    border: 2px solid transparent;
    border-bottom-color: purple;
    width: 230px;
    padding: 5px;
    left: 42%;
}

ol {
    position: relative;
    width: 250px;
    height: 30px;
    text-align: center;
}

h4 {
    position: relative;
    width: 200px;
    height: 20px;
    padding: 5px;
    left: 343%;
}


/*COPYRIGHT*/

.copy {
    position: relative;
    color: orangered;
    left: -1.5%;
}


/*
 ================================= 
  Media Queries
==================================== 
*/

@media (min-width: 520px) {
   .nav-container {
        position: fixed;
        background-color: darkslategray;
       top:10px;
        left: 40%;
        width: 230px;
        font-size: 1em;
    }
    .item-1 {
        width: 30%;
    }
    .item-2 {
        width: 30%;
    }
    .item-3 {
        width: 30%;
    }
    header {
        position: relative;
        top: 40px;
        left: 40%;
        width: 230px
    }
    #main-section-container ul li {
        position: relative;
        left: -19%;
        width: 30%;
       
    }
    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6{
    float:left;
    position: relative;
    width: 30%;
    height:10px;
    padding-bottom : 30%; 
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
    }
     
    .big-footer {
        position: relative;
        width: 98%
    }
    .big-footer h3 {
        position: relative;
        width: 98%;
        left: 0%;
    }
    .big-footer h4 {
        position: relative;
        width: 98%;
        left: 160%;
    }
}

@media (min-width: 769px) {
    .nav-container {
        position: fixed;
        background-color: darkslategray;
        left: 72%;
        width: 230px;
        font-size: 1em;
    }
    .item-1 {
        width: 20%;
    }
    .item-2 {
        width: 20%;
    }
    .item-3 {
        width: 20%;
    }
    header {
        position: relative;
        left: 40%;
        width: 230px
    }
    #main-section-container {
        position: relative;
        left: -5%;
    }
     
    .big-footer {
        position: relative;
        width: 98%
    }
    .big-footer h3 {
        position: relative;
        width: 98%;
        left: 0%;
    }
    .big-footer h4 {
        position: relative;
        width: 98%;
        left: 160%;
    }
}

@media (min-width: 1025px) {
    .nav-container {
        background-color: darkslategray;
        position: fixed;
        color: white;
        left: 70%;
        top: 41px;
        font-size: 1.8em;
        width: 500px;
        height: auto;
        display: flex;
        letter-spacing: 1.0px;
        z-index: 11;
    }
    a {
        color: lightblue;
        opacity: .8;
        text-decoration: none;
    }
    .item-3 {
        width: 25%;
    }
    header {
        position: relative;
        left: 20%;
        width: 1005px
    }
    #main-section-container {
        position: relative;
        left: 19%
}
    .big-footer {
        position: relative;
        width: 99%
    }
    .big-footer h3 {
        position: relative;
        width: 9%;
        left: 40%;
    }
    .big-footer h4 {
        position: relative;
        width: 98%;
        left: 305%;
    }
    .copy{
        position: relative;
        left:-5%;
    }