/*GLOBAL STYLE*/

body {
    background-color: darkslategray;
}

h1 {
    color: orangered;
}

h3 {
    color: darkred;
}

.interest {
    color: whitesmoke;
}


/*NAVIGATION STYLE*/

.nav-container {
    position: fixed;
    color: white;
    left: 73%;
    top: 41px;
    font-size: 1.8em;
    width: 350px;
    height: auto;
    display: flex;
    letter-spacing: 1.0px;
    z-index: 11;
}


/*ITEMS CLASS STYLE*/

.item-1 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: lightcoral;
    width: 94px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.item-2 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: purple;
    width: 94px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.item-3 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: lightgreen;
    width: 112px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}


/*NAV LINK STYLE*/

a {
    color: lightblue;
    opacity: .8;
    text-decoration: none;
}


/*MAIN SECTION*/

section {
    position: relative;
    border-radius: 10px;
    color: whitesmoke;
    width: 1000px;
    height: auto;
    top: 110px;
    left: 20%;
    padding:15px;
   line-height: 25px;
    opacity: .6;
}

section ul li {
    position: relative;
    text-decoration: none;
      list-style-type:square ;
}

.codepen {
    position: relative;
    left: 4%;
    width:54%;
    text-align: left;
    padding: 10px;
}


/*COPYRIGHT*/

.copy {
    position: relative;
    top: 8px;
    left:40%;
    color: orangered;
}