/*FREAKIN ME OUT STYLE*/


/*GLOBAL STLYE*/

h1 {
    position: fixed;
    padding: 10px;
    font-size: 5em;
    color: darkred;
    font-family: Passion one, sans-serif;
    left: 80px;
    text-align: center;
    z-index: 11;
    opacity: .5
}

h3 {
    font-size: 1.4em;
    font-family: Amaranth, sans-serif;
}

ol {
    position: relative;
    font-size: 1.2em;
    font-family: Amaranth, monospace;
    width: 50%;
    left: 22.8%;
}

a {
    text-decoration: none;
}


/* GLOBAL END*/


/*BODY STYLE */

body {
    background-color: slategrey;

}


/*BLINDER STYLE -THIS PREVENTS TEXT FROM BEING SEEN FROM BEHIND IMAGE WHEN SCROLLING*/

.blinder {
    position: fixed;
    border-radius: 5px;
    width: 99%;
    height: 620px;
    z-index: 9;
    background-color: midnightblue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(yellow, midnightblue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, midnightblue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, midnightblue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient( yellow, midnightblue);
    /* Standard syntax */
}


/*HEADER STYLE*/

header {
    position: relative;
    width: 100%;
    height: 256px;
    color: whitesmoke;
}


/*NAVIGATION STYLE*/

.nav-container {
    position: fixed;
    color: white;
    left: 450px;
    top: 100px;
    font-size: 1.8em;
    width: 270px;
    height: auto;
    display: flex;
    letter-spacing: 1.0px;
    z-index: 11;
    text-decoration: none;
    /*TEXT-DECORATION : NONE;  NOT WORKING. BUT LINE-THOUGH DOES! WHY?*/
}


/*ITEMS CLASS STYLE*/

.item-1 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: lightcoral;
    width: 94px;
    height: 30px;
    margin: 5px;
    left: 57px;
    padding: 5px;
}

.item-3 {
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: purple;
    width: 94px;
    height: 30px;
    margin: 5px;
    left: 697px;
    padding: 5px;
}


 
/*NAV LINK STYLE*/

a {
    color: darkslategrey;
    opacity: .8
}

/* SECTION STYLE*/
section{
    position: absolute;
    width: 50%;
    height: 400px;
    padding: 5px;
    left: 24%;
}
section p{
    font-size: 1.5em;
    line-height:  42px;
    padding: 15px;
}

/*BIG FOOTER STYLE*/

.big-footer {
    position: relative;
    top: 470px;
    text-align: center;
    width: 98.8%;
    padding: 10px;
    border-radius: 5px;
    background-color: brown;
    color: whitesmoke;
    opacity: .8;
}


 

/*BIGG FOOTER H3 STYLE*/

.big-footer h3 {
    position: relative;
    color: whitesmoke;
    border: 2px solid transparent;
    border-bottom-color: purple;
    width: 230px;
    padding: 5px;
    left: 42.6%;
}

ol {
    position: relative;
    display: flex;
    width: 250px;
    height: 30px;
    text-align: center;
    left: 41.9%;
}

h4 {
    position: relative;
    top: -30px;
    padding: 5px;
}


/*COPYRIGHT STYLE*/

i {
    position: relative;
    left: 43.5%;
    top: 500px;
    padding: 10px;
    color: navajowhite;
}

 

hr {
    position: fixed;
    top: 160px;
    left: 470px;
    width: 50%;
}